{{user.email}}
{{#if user.children.length}}
    <ul>
        {{#each user.children as |user|}}
            <li>DogeCoints earned from conversion: {{getMoney user.depth}} {{> partials/_childTree user=user}}</li>
        {{/each}}
    </ul>
{{/if}}
