{{user.email}}
{{#if user.children.length}}
    <ul>
        {{#each user.children as |user|}}
            <li><button class="btn btn-success">{{getMoney user.depth}}</button>{{> partials/_childTree user=user}}</li>
        {{/each}}
    </ul>
{{/if}}
