<h1>Homepage</h1>
<a href="{{currentUser.referralLink}}">{{currentUser.referralLink}}</a>
<br>
<a href="/logout">Log out</a>
<h3>Converts:</h3>
<!-- {{#if children.length}}

    <ul>
        {{#each currentUser.children as |child|}}
        <li>childId: {{child}}
        </li>
        {{/each}}
    </ul>
{{/if}} -->
<pre>{{children}}</pre>
