<div class="row">
    <div class="col-xs-12">
        <h1>Much Pyramid-scheme, but good kind!</h1>
        {{> images/dogetophat }}
        <a href="{{currentUser.referralLink}}">{{currentUser.referralLink}}</a>
        <br>
        <h3>Converts:</h3>
        {{> partials/_childTree user=user}}
        
        
        <h4>So excite! Much Wow!</h4>
    </div>
</div>
